.pdf-page {
    position: relative;
    margin: 0 auto;
    color: #333;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.pdf-header {
    padding-bottom: 0.2in;
    margin-bottom: 0.3in;
    border-bottom: 1px solid #e5e5e5;
}

.size-a4 {
    width: 8.2in;
    height: 10.7in;
}

.title {
    opacity: 1;
    color: rgba(99, 101, 105, 1);
    /* font-family: "RedHatDisplay-Black"; */
    font-size: 10px;
    font-weight: 900;
    /* font-style: normal; */
    /* letter-spacing: 0px; */
    /* text-align: center; */
    text-transform: uppercase;
}

.div-padre {
    display: flex;
    /* Utilizamos display: flex en el div padre para aplicar flexbox */
}

.div-hijo {
    width: 120px;
}

.div-title {
    padding: 10px 0px 0px 30px;
}

.div-subtitle {
    opacity: 1;
    color: rgba(12, 98, 152, 1);
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0px;
}

.div-subtitleCar {
    opacity: 1;
    color: rgba(99, 101, 105, 1);
    /* font-family: "RedHatDisplay-ExtraBold"; */
    font-size: 10px;
    font-weight: 800;
    /* font-style: normal; */
    /* letter-spacing: 1px; */
}


/* //////////////  IMGDPR  ////////////////// */

.div-dprImg {
    width: 65px;
}

.imgDiv {
    width: 77px;
    padding-left: 3px;
}

.ziseDprImg {
    margin: 10px;
}

.qr {
    opacity: 1;
    /* background-color: rgba(0,0,0, 1); */
}


/* //////////////  CAR  ////////////////// */

.div-carImg {
    padding: 10px 0px 0px 105px;
}

.carLogistic {
    width: 45px;
}

.card-one {
    border-radius: 15px;
    border: 1px solid rgb(210 210 210);
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
}

.text-one {
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid rgb(210 210 210);
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
}


/* ////////////// CARD BLUE /////////////// */

.div-Id {
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    background-color: rgba(12, 98, 152, 1);
}

.div-IdText {
    width: 50%;
    padding-left: 20px;
    margin: 8px;
    opacity: 1;
    color: rgba(255, 255, 255, 1);
}


/* //////////////////////////////// */

hr.new3 {
    border: 1px solid #636569;
    position: absolute;
    z-index: 1;
    width: 305px;
}

.checkText {
    opacity: 1;
    color: rgba(59, 60, 62, 1);
    font-family: revert;
    font-size: 13px;
    font-weight: 700;
    /* font-style: normal; */
    /* letter-spacing: 0px; */
    /* text-align: left; */
    line-height: 15px;
    padding-top: 10px;
}

.textInfo {
    opacity: 1;
    color: rgba(59, 60, 62, 1);
    /* font-family: "Inter-Bold"; */
    font-size: 8px;
    /* font-weight: 700; */
    /* font-style: normal; */
    /* letter-spacing: 0px; */
    text-align: justify;
    padding: 15px;
}

.textNotifique {
    opacity: 1;
    color: rgba(59, 60, 62, 1);
    /* font-family: "Inter-Regular"; */
    font-size: 10px;
    font-weight: 400;
    /* font-style: normal; */
    /* letter-spacing: 0px; */
    text-align: center;
    /* line-height: 32px; */
    padding: 15px;
}

.titleCardTwo {
    opacity: 1;
    color: rgba(99, 101, 105, 1);
    /* font-family: "RedHatDisplay-Black"; */
    font-size: 15px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
}

.subTitleCardTwo {
    opacity: 1;
    color: rgba(59, 60, 62, 1);
    /* font-family: "Inter-Regular"; */
    font-size: 9px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: justify;
    /* line-height: 36px; */
    padding: 5px;
}

.containerCardTwo {
    border-radius: 15px;
    border: 1px solid rgb(210 210 210);
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
}

.titleContainer {
    opacity: 1;
    color: rgba(99, 101, 105, 1);
    /* font-family: "RedHatDisplay-Black"; */
    font-size: 10px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    padding: 5px 0px 0px 20px;
    line-height: 25px;
}

.titleContainerSinBorder {
    opacity: 1;
    color: rgba(99, 101, 105, 1);
    /* font-family: "RedHatDisplay-Black"; */
    font-size: 10px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 25px;
}

.btn-grafica {
    border-radius: 5px;
    opacity: 1;
    background-color: rgba(224, 226, 226, 1);
    border: none;
    width: 90%;
    font-size: 13px;
}

.centerButton {
    text-align: center;
    padding: 15px;
}

.centerTable {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.titleTable {
    background: #EBEBEB;
    line-height: 30px;
}

.leftBorder {
    background-color: #ebebeb;
    border-radius: 0px 0px 0px 14px;
}

.rightBorder {
    border-radius: 0px 0px 14px 0px;
    border: none;
}

.containerCardThree {
    border-radius: 15px;
    border: 1px solid rgb(210 210 210);
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
}

table thead tr,
th {
    border: 1px solid #ebebeb;
}

table tbody tr,
th {
    /* border:1px solid #ebebeb; */
}


/* //////////////////////////////// */


/* Estilo para el div contenedor */

#contenedor {
    width: 8.5in;
    height: 12.5in;
    background-color: white;
    margin: 0 auto;
}


/* Estilos para los divs internos verticales */

.div-vertical {
    width: 100%;
    height: calc(33.33% - 0.333in);
    /* 33.33% de la altura del contenedor, menos 0.333in de margen */
    display: flex;
    /* Para alinear los divs internos horizontalmente */
}


/* Estilos para los divs internos horizontales */

.div-horizontal {
    flex: 1;
    /* Hace que los divs internos ocupen el mismo ancho dentro del div vertical */
}


/* Colores de fondo para los divs internos */

#div1 {
    background-color: #FFF;
    padding: 22px;
}

#div2 {
    background-color: #FFF;
}

#div3 {
    background-color: blue;
}

#div4 {
    background-color: yellow;
}

#div5 {
    background-color: purple;
}

#div6 {
    background-color: orange;
}

.rightCortar {
    border-right: dashed 1px #ccc;
    border-bottom: dashed 1px #ccc;
}

.buttonCortar {
    border-bottom: dashed 1px #ccc;
}


/* ////////////////////////////// pruebas  */


/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}


/* button, input, optgroup, select, textarea {
   font-family: inherit;
   font-size: 100%;
   line-height: 1.15;
   margin: 0;
 }
 button, input {
   overflow: visible;
 }
 button, select {
   text-transform: none;
 }
 button, [type="button"], [type="reset"], [type="submit"] {
   -webkit-appearance: button;
 }
 button::-moz-focus-inner, [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
   border-style: none;
   padding: 0;
 }
 button:-moz-focusring, [type="button"]:-moz-focusring,
 [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
   outline: 1px dotted ButtonText;
 } */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}


/* [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
   height: auto;
 }
 [type="search"] {
   -webkit-appearance: textfield;
   outline-offset: -2px;
 }
 [type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
 }
 ::-webkit-file-upload-button {
   -webkit-appearance: button;
   font: inherit;
 } */

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/* Global */

body {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}


/* div, button, span {
   box-sizing: border-box;
 } */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1 {
    color: #3B3C3E;
    margin: 0;
    text-align: center;
}

h5 {
    color: #75787B;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding-left: 12px;
}

h5.tiny {
    font-weight: normal;
    margin-top: 20px;
}


/* p {
  padding: 0 12px;
} */

.label-msg {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


/* button {
   background-color: #E6E7E7;
   border-radius: 4px;
   border: 0;
   color: #3B3C3E;
   display: block;
   float: none;
   font-weight: bold;
   margin: 0 auto;
   padding: 14px 0;
   text-align: center;
   width: 100%;
 }
 button.yellow {
   background-color: #FCFF4B;
 }
 button.green {
   background-color: #369F7A;
   color: #FFF;
 }
 button.trend {
   max-width: 80%;
 }
 button.references {
   font-size: 12px;
   padding: 6px 14px;
   margin: 12px auto 20px auto;
   width: auto;
 }
 button.references img,
 button.references span {
   display: inline-block;
   float: none;
   vertical-align: middle;
 }
 button.references img {
   margin-right: 5px;
 }
 button.inter {
   margin-top: 20px;
   max-width: 80%;
   padding: 8px 0;
 } */

table {
    border-collapse: collapse;
    border: 0;
    width: 100%;
}

address {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    line-height: 1.3;
}


/* Grid */

.cardLeft {
    float: left;
    width: 50%;
}

.spaceTop {
    padding-top: 20px;
}

.arriba {
    min-height: 100px;
    height: 100px;
    width: 100%;
}

.container {
    margin: 0 auto;
}

.wrapper {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.wrapper .container {
    border: white;
    max-width: 800px;
    padding: 20px;
    background: white;
}

.wrapper .container .row {
    display: flex;
    justify-content: space-between;
}

.wrapper .container .row.bottom-dashed {
    border-bottom: 1px dashed #D9D9D6;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.wrapper .container .row.border-division {
    position: relative;
}

.wrapper .container .row.border-division::after {
    border-left: 1px dashed #D9D9D6;
    content: '';
    height: 100%;
    left: calc(50% - 0.5px);
    position: absolute;
    top: 0;
    width: 0;
}

.wrapper .container .row .col-2 {
    flex: 0 0 auto;
    width: 48%;
}

.wrapper .container .row.row-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.btnGreen {
    background-color: rgba(21, 158, 113, 1);
    border-radius: 5px;
    opacity: 1;
    border: none;
    width: 90%;
    font-size: 13px;
    color: #FFF;
}

.infoData {
    opacity: 1;
    color: rgba(59, 60, 62, 1);
    font-size: 10px;
    text-align: justified;
    padding-bottom: 15px;
}


/* Global classes */

.card {}

.card p {}

.footer-note {
    color: #75787B;
    display: block;
    padding: 6px 0;
    text-align: center;
    width: 100%;
}

.graph-half-circle {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.graph-half-circle .image-graph {
    align-items: flex-end;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 46px;
    justify-content: center;
    width: 100%;
}

.graph-half-circle .image-graph .percent-graph {
    color: #75787B;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
}

.graph-half-circle button {
    max-width: 80%;
}

.graph-half-circle .label-graph {
    color: #3B3C3E;
    font-weight: 500;
    margin-top: 5px;
    font-size: 10px;
}

.content-graph {
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 0;
}

.content-graph img {
    max-width: 100%;
}

.txt-center {
    text-align: center;
}

.mt-15 {
    margin-top: 15px;
}


/* Document style */

.centerText {
    display: flex;
    align-items: center;
}

.boxCheck {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radioClassCheck {
    width: 19px;
    height: 19px;
}

.rdnSizeCheck {
    width: 19px;
    height: 19px;
}

.Experiencia-profesional {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: #000;
}

.Conocimiento-vial {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: #000;
}

.Licencia-de-conducir {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: #000;
}

.Rectangle-1408 {
    border-radius: 18px;
    background-color: #51b35e;
    width: 36px;
    height: 36px;

}

.Rectangle-1457 {
    background-color: #ededed;
}

.Rectangle-1051 {
    border-radius: 8px;
    background-color: rgba(121, 168, 117, 0.05);
    width: 100%;
}

.Completar {
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: #d1d1d1;
}

.Rectangle-1051 {
    border-radius: 8px;
    background-color: #55ac68;
}

.top5{
    padding-top: 5px;
}



/* --------------------------------------------------------------------------------- */

.identify-card {
    display: flex;
    margin-bottom: 12px;
}

.identify-card .account-detail {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: stretch;
}

.identify-card .account-detail .detail-image {
    flex: 0 0 auto;
    line-height: 0;
    position: relative;
}

.identify-card .account-detail .detail-image img {
    position: relative;
    width: 100%;
    z-index: 1;
}

.identify-card .account-detail .detail-image::before {
    border-top: 1px solid #75787B;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}

.identify-card .account-detail .detail-image::after {
    background: #0076A8;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    width: 100%;
}

.identify-card .account-detail.gray .detail-image::after {
    background-color: #6a6d70;
}

.identify-card .account-detail .detail-background {
    align-items: center;
    background: #0076A8;
    border-radius: 0 0 0 10px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    padding: 0 16px;
}

.identify-card .account-detail.gray .detail-background {
    background-color: #6a6d70;
}

.identify-card .account-detail .detail-background svg {
    width: 45px;
}

.identify-card .account-detail.gray .detail-background svg {
    height: 60px;
    width: auto;
}

.identify-card .middle-section {
    border-bottom: 1px solid #75787B;
    border-top: 1px solid #75787B;
    flex: 1 1;
    padding: 10px 10px 40px 10px;
    position: relative;
}

.identify-card .middle-section .title {
    align-items: center;
    color: #75787B;
    display: flex;
    justify-content: stretch;
    margin-bottom: 8px;
}

.identify-card .middle-section .title .left {
    flex: 0 0 auto;
    font-size: 20px;
    font-weight: bold;
    padding-right: 5px;
}

.identify-card .middle-section .title .right {
    border-left: 1px solid #E6E7E7;
    flex: 1 1;
    font-size: 8px;
    padding-left: 5px;
}

.identify-card .middle-section .subtitle span {
    font-size: 8px;
    font-weight: 500;
    color: #75787B;
}

.identify-card .middle-section .subtitle h2 {
    color: #0076A8;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.identify-card .middle-section .gray .subtitle h2 {
    color: #343536;
}

.identify-card .middle-section .subtitle h4 {
    color: #0076A8;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.identify-card .middle-section .gray .subtitle h4 {
    color: #343536;
}

.identify-card .middle-section .division {
    border: 0;
    border-top: 2px solid #E6E7E7;
    margin: 10px 0;
}

.identify-card .middle-section .info-section ul li {
    margin: 0 0 10px 0;
}

.identify-card .middle-section .info-section ul li span {
    color: #6A6D70;
    font-size: 8px;
}

.identify-card .middle-section .info-section ul li img {
    margin-right: 4px;
    width: 16px;
}

.identify-card .middle-section .info-section ul li img,
.identify-card .middle-section .info-section ul li span {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.identify-card .middle-section .info-section ul li span {
    font-weight: 500;
}

.identify-card .middle-section .expires {
    align-items: center;
    background-color: #E6E7E7;
    border-radius: 10px 0 0 0;
    bottom: 0;
    color: #000000;
    display: flex;
    font-size: 8px;
    font-weight: bold;
    justify-content: center;
    padding: 12px 0;
    position: absolute;
    right: 0;
    width: 80%;
}

.identify-card .right-section {
    border-radius: 0 10px 10px 0;
    border: 1px solid #75787B;
    border-left: 0;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.identify-card .right-section .detail-finance {
    align-items: center;
    background-color: #E6E7E7;
    border-radius: 6px 0 6px 6px;
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.identify-card .right-section .detail-finance svg {
    width: 45px;
}

.identify-card .right-section .detail-finance.identity {
    padding: 10px 0;
}

.identify-card .right-section .detail-finance.identity svg {
    height: 55px;
    width: auto;
}

.identify-card .right-section .qr-code {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.identify-card .right-section .qr-code svg {
    height: auto;
    width: 80px;
}

.identify-card .right-section .qr-code span {
    color: #75787B;
    font-size: 8px;
}

.identify-card .right-section .verify {
    align-items: center;
    background-color: #75787B;
    border-radius: 6px 0 0 0;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
}

.identify-card .right-section .verify img {
    width: 65px;
}

.result .image-graph {
    height: 100px;
    margin-bottom: 0px;
}

.result .image-graph .percent-graph {
    color: #3B3C3E;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
}

.digital-data td {
    padding-bottom: 6px;
}

.digital-data tbody>tr:last-child>td {
    padding-bottom: 0;
}

.digital-data td img,
.digital-data td span {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.digital-data td img {
    height: 14px;
}

.digital-data td span {
    color: #3B3C3E;
    font-size: 10px;
    font-weight: 500;
}

.three-graphics td {
    padding: 40px 8px;
    text-align: center;
    width: 33%;
}

.evaluated-areas {
    padding: 5px 10px 0px 10px;
}

.evaluated-areas ul li {
    color: #3B3C3E;
    margin-bottom: 5px;
}

.evaluated-areas ul>li:last-child {
    margin-bottom: 0;
}

.evaluated-areas .title {
    font-weight: 500;
    padding-left: 12px;
}

.evaluated-areas .graph-line {
    display: flex;
    justify-content: stretch;
}

.evaluated-areas .graph-line .content-graph {
    flex: 1 0;
    border: none;
}

.evaluated-areas .graph-line .text-graph {
    flex: 0 0 auto;
    font-weight: bold;
    padding: 0 4px;
    width: 15px;
}

.evaluated-areas.tipo-d .graph-line .text-graph {
    width: 60px;
    font-size: 10px;
}

.evaluated-areas .content-graph span {
    background-color: #EEEEEE;
    border: 3px solid #FAFAFA;
    height: 13px;
    width: calc(100% / 7);
}

.evaluated-areas.tipo-d .content-graph span {
    width: calc(100% / 4);
}

.evaluated-areas .content-graph span.mark {
    background-color: #75787B;
    border: double 3px #FFF;
}

.evaluated-areas .content-graph>span:first-child {
    border-radius: 8px 0 0 8px;
}

.evaluated-areas .content-graph>span:last-child {
    border-radius: 0 8px 8px 0;
}

.family-income h6 {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: bold;
    margin: 12px 0;
    text-align: center;
}

.note-gray {
    background-color: #E6E7E7;
    border-radius: 5px;
    margin-top: 8px;
    padding: 8px;
    text-align: center;
    width: 100%;
}

.note-gray.note-emit {
    font-family: 'Roboto Mono', monospace;
}

.note-gray p {
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.observations {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 20px;
}

.observations.empty {
    height: 100px;
    padding: 12px;
}

.observations ul {
    list-style: disc;
    margin: 5px 0 0 0;
    padding-left: 12px;
}

.column-interesting {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.column-interesting h5 {
    flex: 0 0 auto;
}

.column-interesting .card {
    flex: 1 1;
}

.column-interesting .interesting ul {
    list-style: disc;
    margin: 5px 0 0 0;
    padding-left: 12px;
}

.column-interesting .interesting ul li {
    margin-bottom: 12px;
}

.aptitudes {
    align-items: center;
    display: flex;
    height: 160px;
    justify-content: center;
    line-height: 0;
    padding: 0;
    position: relative;
}

.aptitudes table {
    height: 100%;
    line-height: 1;
    width: 100%;
}

.aptitudes table tr td {
    border: 1px solid #75787B;
    border-width: 0 1px 1px 0;
    padding: 0;
    text-align: center;
    width: 50%;
}

.aptitudes table td strong {
    font-size: 12px;
}

.aptitudes table tbody>tr:last-child td {
    border-bottom: 0;
}

.aptitudes table tbody>tr>td:first-child {
    padding-right: 35px;
}

.aptitudes table tbody>tr>td:last-child {
    border-right: 0;
    padding-left: 35px;
}

.aptitudes .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid #75787B;
    height: 120px;
    left: calc(50% - 60px);
    line-height: 0;
    position: absolute;
    top: calc(50% - 60px);
    width: 120px;
}

.aptitudes .circle img {
    margin: 2px;
    position: absolute;
}

.aptitudes .circle img.tl {
    transform: rotate(-90deg);
}

.aptitudes .circle img.bl {
    transform: rotate(180deg);
}

.aptitudes .circle img.br {
    transform: rotate(90deg);
}

.financial-profile {
    height: 150px;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.financial-profile table {
    height: 100%;
    line-height: 1;
    text-align: center;
    width: 100%;
}

.financial-profile table th {
    background-color: #ebebeb;
    padding: 10px 0;
}

.financial-profile table td {
    border: 1px solid #75787B;
    border-width: 0 1px 1px 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

.financial-profile table tr>td:last-child {
    border-right: 0;
}

.financial-profile table tbody>tr:last-child td {
    border-bottom: 0;
}

.custom-graph-solvency table {
    text-align: center;
}

.custom-graph-solvency tbody td img {
    width: 90%;
}

.custom-graph-solvency tfoot th {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
}

.personal-data .card {
    display: flex;
    justify-content: stretch;
}

.personal-data .personal-image {
    margin-left: 40px;
    align-items: center;
    background: #75787B;
    border-radius: 8px;
    color: #FFF;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    height: 120px;
    justify-content: center;
    line-height: 1.5;
    text-align: center;
    width: 90px;
}

.personal-data .personal-info {
    flex: 1 1 auto;
    padding-left: 15px;
}

.personal-data address.no-card {
    padding-left: 30px;
}

.personal-data .trend {
    margin-top: 50px;
}

.probation {
    min-height: 280px;
}

.probation p {
    font-size: 12px;
}

.probation address {
    padding-left: 15px;
    margin-bottom: 15px;
}

.row.documents {
    flex-direction: column;
}

.quarter {
    right: 4px;
    top: 4px;
}

.documents .identity-observation {
    min-height: 100px;
}

.documents .fake-image-identity {
    align-items: center;
    background: #75787B;
    border-radius: 8px;
    color: #FFF;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    justify-content: center;
    min-height: 150px;
    text-align: center;
}

.documents .presented {
    min-height: 220px;
}