.txtDocReq_P2 {
    font-weight: 500;
    padding-top: 6px;
}

.imgFooter_P2 {
    width: 150px;
    height: 28px;
    margin: 15px;
}

.container_data_operation {
    height: 0px;
    padding-bottom: 25rem !important;
    overflow-x: auto;
}

.containerDoc_P2 {
    padding: 0px 0px 0px 10px;
}

.imageContainer_P2 {
    background: #FFFFFF;
    border-top: solid 1px #EDEDED;
}

.buttonCookies_disable {
    width: 100%;
    height: 48px;
    background: #F2F8FD 0% 0% no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 28px;
    padding: 10px 0px 10px 10px;
}

.txtCookies_disable {
    width: 100%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-15)/21px var(--unnamed-font-family-inter);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal 15px/21px Inter;
    letter-spacing: 0px;
    color: #D1D1D1;
    margin-top: 3px;
}

.txtButtonModal_disable {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 17px/var(--unnamed-line-spacing-36) var(--unnamed-font-family-inter);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal 600 17px/36px Inter;
    letter-spacing: 0px;
    color: #D1d1d1;
}

.buttonModal_disable {
    width: 100%;
    height: 48px;
    background: #79A8750D;
    border: 1px solid #79A8750D;
    border-radius: 8px;
}